recursive-include   brss/bin *
recursive-include   brss/pixmaps *
recursive-include   brss/applications *
recursive-include   brss/icons/hicolor *
recursive-include   brss/po *
include             brss/schemas/com.itgears.BRss.gschema.xml
