recursive-include   bin *
recursive-include   pixmaps *
recursive-include   applications *
recursive-include   icons/hicolor *
recursive-include   po *
include             schemas/com.itgears.BRss.gschema.xml
